@import 'reset';

$main-color: #2ecc71;
$contrast-color: #2c3e50;
$white: rgb(253, 252, 247);
$text-color: #7f8c8d;

$font-stack: 'Roboto', sans-serif;


html {
	font-size: 62.5%;
}
body{
	font-family: $font-stack;
	background: $white;
}

#title{
	text-align: center;
	background: $main-color;
	color:$white;
	font-size: 8rem;
	font-weight: 700;
	padding: 1rem;
}
#subtitleAmount,#loading{
	text-align: center;
	color: $main-color;
	font-size: 5rem;
	font-weight: 300;
	padding: 1rem;
}
.majors{
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	top: 0;
	cursor: pointer;
	display: block;
	margin-top: 1rem;
	width: 8rem;
	border-radius: 50%;
	border: 0.5rem solid $contrast-color;

}
#bloomberg,#deBlasio{
	float: left;
	margin-left: 4rem;
}
#giuliani,#dinkins{
	float: right;
	margin-right: 4rem;
}

#chartHolder{
	position: relative;
	width: 45%;
	margin: 0 auto;

}
#logo{

	box-sizing: border-box;

	display: block;
    position: absolute;
    z-index: -10;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    
    border-radius: 50%;
    background-image: url(../img/bill.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    transition: background 1s ease;

    border: 1rem solid $contrast-color;
}

#intro, #key{
	width: 80%;
	margin: 0 auto;
	font-size: 2.8rem;
	font-weight: 300;
	color: $text-color;
	line-height: 1.5;

	p{
		padding: 0.5rem 0;
	}
}

#intro{
	padding-top: 1rem;
}

#key{
	p{
		text-align: center;
		span{
	    	font-weight: 400;
	    	line-height: 1.5;
	    	padding: 0 0.5rem;
	    	color: $white;
	    	border-radius: 5px;
		}
	}
}

.menu{
	cursor: pointer;
	width: 80%;
	margin: 2rem auto;
	background: $main-color;
	border-radius: 1rem;
	font-weight: 700;
	color: $white;
	text-align: center;
	transition: background 0.4s ease;

	&:hover{
		background: #27ae60;
		.menuItems{
			display: block;
		}
	}
	.menuItems{
		display: none;
		background: $contrast-color;
		text-align: left;
		font-weight: 300;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
	a{
		display: block;
		padding-left: 1rem;
		border-top: 1px solid $text-color;
		border-bottom: 1px solid $text-color;
		&:last-of-type{
			border-bottom: none;
		}
		&:hover{
			color: $main-color;
		}
	}
	#donors{
		display: none;
	}
}
.pulsate{
	animation: pulse 4s infinite ease-in-out;
}


input,select,button{
	display: none;
}


footer{
	background: $main-color;
	color: $white;
	margin-top: 20%;
	height: 3rem;
	padding-top: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 300;
	p{
		padding: 0.25rem;
	}
	a{
		text-decoration: none;
		color: $white;
		transition: color 0.5s ease;
		&:hover{
			color: $contrast-color;
		}
	}

}

@keyframes pulse {
	0% { background: $main-color; }
	50% { background: darken($main-color,15%); }
	100% { background: $main-color; }
}


@media (min-width:900px){
	#intro, #key{
		position: absolute;
		width: 23%;
		padding-top: 5rem;
	}
	#intro{
		top: 9rem;
		left: 4rem;
	}
	#key{
		top: 9rem;
		right: 4rem;
		p{
			text-align: right;
		}
	}
}

@media (max-width:750px){
	html {
		font-size: 40%;
	}
	#intro, #key{
		font-size: 2rem;
	}
}


