!!! 5
%html(lang="en")
	%head
		%meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1.0')
		%title Major Money
		%link(rel='stylesheet' href='css/style.css')
		%link(rel='stylesheet' href='css/outdatedbrowser.min.css')
		%link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
	%body
		%img.majors#deBlasio(src='img/bill.jpeg' alt='Bill de Blasio' data-year='2013')
		%img.majors#bloomberg(src='img/michael.jpg' alt='Michael Bloomberg' data-year='2009')
		%img.majors#dinkins(src='img/david.jpg' alt='David Dinkins' data-year='1994')
		%img.majors#giuliani(src='img/rudy.jpeg' alt='Rudy Giuliani' data-year='1990')


		%h1#title Major Money
		%h2#loading Loading
		%h2#subtitleAmount $10,595,440.00

		%div#chartHolder
			%canvas#pieChart(width="400" height="400")
			%span#logo
		%div#intro
			New York City Major <span id='majorName'>Bill de Blasio</span> raised over <span id='majorMoney'>10</span> million dollars for his <span id='majorYear'>2013</span> campaign, but where did that money come from...
			%div.menu.pulsate
				?
				%div.menuItems
					%a#state States
					%a#city Cities
					%a#borough Boroughs
					%a#zips Zips
					%a#donors Donors
					%a#occupation Jobs

		%div#key



		%select#database
			%option(value='donorName')Donor Name
			%option(value='cCode')C Code
			%option(value='borough')Borough
			%option(value='city')City
			%option(value='state')State
			%option(value='zips')Zip Code
			%option(value='occupation')Occupation
			%option(value='employer')Employer
		%input#query(type='text') <button id='enter'>Enter</button>

		%footer 
			%p Data from New York City Campaign Finance Board
			%p 
				Created by: 
				%a(href='http://walterbellermoral.es')WBM

		%script(src='js/min/outdatedbrowser.min.js')
		%script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		%script(src='js/min/jquery.csv-0.71.min.js')
		%script(src='js/min/Chart.min.js')
		%script(src='js/min/project-min.js')



